// 
// 
// user.scss
//
// Place your own theme CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

/* NAV BAR */
.search-box .search-input {
      width: 35vw;
      padding-left: 2rem;
}

@media(max-width: 575px) {
    .search-box .search-input {
        width:100%;
    }
}

/*******************************************INDEX PAGE******************************************************/
/* DSA CREATION TIMELINE */
#creation-count-div {
    margin:15px 20px 0px auto;
    font-size: 1rem;
}
.creation-interval-select-btn  {
    box-sizing:border-box;
    padding-top:0;
    padding-bottom:0;
}

@media(max-width: 575px) {
    
    #creation-count-heading {
        text-align: center;
        font-size: 1.2rem;
    }

    #creation-count-div { font-size:0.9rem; }
    
}

/* 24hr Transaction Volume - TOTAL */
#total-tx-vol-chart {
    position: absolute;
    bottom:25px;
    right:5px;
    height:90px;
}

@media(max-width: 779px) {
    #total-tx-vol-card { height:170px; }
}


/* 24hr Transaction Volume - BREAKUP */
#tx-vol-breakup-chart-col {
    position: absolute;
    right:20px;
    bottom: 20px;
}

#tx-vol-breakup-item { min-width:500px; }

@media(max-width: 1126px) {
    #tx-vol-breakup-item { min-width:400px; }
}

@media (max-width:1029px) {
    #tx-vol-breakup-item { min-width:350px; }
}

@media (max-width:972px ) {
    #tx-vol-breakup-item { min-width:300px; }
}

@media(max-width: 881px){
    #tx-vol-breakup-item { min-width:250px; }
}

@media(max-width: 778px){
    #tx-vol-breakup-item { min-width:450px; }
}

@media(max-width: 672px){
    #tx-vol-breakup-item { min-width:350px; }
}

@media(max-width: 577px){
    #tx-vol-breakup-item { min-width:200px; }
}

@media(max-width: 482px) {
    #tx-vol-breakup-item { min-width:150px; }
}

/* RECENT TRANSACTIONS TABLE */
.pagination-page-num-btn {
    margin-left:10px;
    border:none;
    outline:none; 
    background-color:inherit; 
    color:#2C7BE5;
    font-size:.83333rem;
}


/*******************************************TXS PAGE******************************************************/
#all-txs-search-form {
    input {
        width:300px;
        height:28px;
        padding: 5px 0px 5px 35px;
        margin-right:10px;
    }
    .search-box-icon { width: 12px; }
}


/*******************************************DSA PAGE******************************************************/
.dsa-page-lg-row-1 { height: 200px; }
.dsa-page-lg-row-2 { height: 370px; }
@media(max-width:991px) {
    .dsa-page-lgrow-1, .dsa-page-lg-row-2 {height:auto};
}


#dsa-header-row {
    display: flex;
    // flex-wrap:wrap;
    justify-content: start;
    align-items: stretch;
}

.card-collapsible-btn-div {
    position: absolute;
    bottom:0px;
    right:0px;
}

.card-collapsible-btn-div button:focus { outline: none; box-shadow: none;};


#bal-total-card-footer {
    padding-top:0px;
    padding-bottom:2rem;
    padding-right:1rem;
    padding-left:1rem;
}

// #dsa-bal-col { width:400px; }
// #dsa-owners-col { width:240px; }
// #dsa-positions-col { width: calc(100%-400px-240px); }


@media(max-width: 400px) {
//     #dsa-bal-col { width:100%; padding-right:2rem; }
    .bal-breakup-usd { display:none !important; }
}



#bals-breakup-chart, .supply-borrow-status-col {
    position: relative;
    top:-12px;
    right:0px;

}

@media(max-width: 576px) {
    .supply-borrow-status-col {
        top:12px;
    }
     .supply-borrow-progress-bar { 
        width: 100% !important; 
    }
}

@media(max-width:400px) {
    .supply-borrow-progress-bar { 
        width: 100% !important; 
    }
}


.owner-address-item {
    margin: 10px auto;
    font-size:0.9rem;
    font-weight: 600;
    color:#1657af;
}

.position-item-div {
    margin-bottom: 10px;
}


#all-balances-search-form, #dsa-txs-search-form {
    input {
        width:100%;
        height:28px;
    }
    .search-box-icon { width: 12px; }
}

.all-owners-search-form {
    input {
        width:'30px';
        height:'10px';
    }
}